.selector {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.selector li {
  float: left;
  margin: 0 5px 0 0;
  width: 140px;
  height: 40px;
  position: relative;
}
.selector.botsCount li {
  width: 40px;
}
.selector li.depo {
  width: 60px;
}
.selector li.pumpDump {
  width: 60px;
}
.selector li.algo {
  width: 60px;
}
.selector li.notStopClosePos {
  width: 165px;
}

.selector label,
.selector input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.selector input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.selector input[type="radio"]:checked + label,
.Checked + label {
  background: #ddd;
}

.selector label {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.selector label:hover {
  background: #ddd;
}
#coinsListsSelect {
  margin-top: 5px;
}
.avada article,
.avada-tab article {
  border-bottom: 1px solid #e9ecef;
}
.myDivModal button {
  margin: 5px 3px;
}
.m-tab.avada-link--active {
  color: orangered !important;
}
.grid-settings-dialog__cntr > label {
  margin-top: 0.5em;
}
.noForget {
  font: italic;
  text-align: center;
}
.avada-pane-tabs {
  margin: 5px 5px;
  /* display: grid;
  grid-template-columns: auto auto;
  justify-content: center; */
}
.avada-modal {
  min-width: 670px;
}
.modal-body.avada {
  padding: 0 1em;
}
.b-avada.avada-link.m-tab.m-tab--small {
  font-weight: 700;
}
.lbl_botsCount {
  max-width: 40px;
}
#botsCount,
#flexStopPercent {
  margin-bottom: 0.5rem;
}
.lbl-wrap label {
  margin-bottom: 0px;
}
.lbl-wrap {
  display: grid;
  align-items: center;
  margin-right: 20px;
}

.grid-settings-dialog__cntr_avada {
  justify-content: flex-start !important;
  margin-left: 25px !important;
}
.bl-list {
  display: flex;
}
.bl-list > textarea {
  margin-right: 20px;
  min-width: 350px;
}
.modal-footer.markets-modal {
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.markets-modal img{
  /* border: 3px solid oldlace; */
  height: 35px;
}
#checkBinance{
    background-size: 100px 40px;
    height: 35px;
    width: 114px;
}
#checkBybit{
    background-size: 100px 40px;
    height: 35px;
    width: 114px;
}
.market-button {
  background-color: white;
  border-color: white;
  box-shadow: 0 0 7px rgb(0 0 0 / 50%);
}
.market-button.check-active {
  box-shadow: 0 0 25px #df600c;
}
.flex_end_avada {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}
.modal-footer.flex_start_avada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
#avada_wallet_q {
  right: 200px;
  top: 122px
}
#avada_cancel_q {
  right: 200px;
  top: 190px
}
#avada_stop_q {
  right: 200px;
  top: 219px
}
#avada_mark_q {
  right: 200px;
  top: 247px
}
#avada_flexStop_q {
  right: 20px;
  top: 100px
}
#avada_shortStop_q {
  right: 100px;
  top: 150px
}
#avada_longStop_q {
  right: 100px;
  top: 200px
}
#avada_tempStop_q {
  right: 5px;
  top: 250px
}
#avada_pumpDimp_q {
  right: 100px;
  top: 300px
}
#avada_closePos_q {
  right: 100px;
  top: 350px
}
/* span.show-title-avada:after {
  content: attr(title);
  padding: 5px;
  border: 1px solid #ccc;
  top: 60px;
  right: 60%;
  background: #df600c;
} */
.avada_help_div{
  background-color: #df600c;
  min-width: 300px;
  padding: 6px;
  padding-left: 20px;
}
#goNext{
  padding: 25px;
}


:root {
  --toast-width: 270px;
  --toast-border-radius: 0.25rem;
  --toast-theme-default: #fff;
  --toast-theme-primary: #0d6efd;
  --toast-theme-secondary: #6c757d;
  --toast-theme-success: #198754;
  --toast-theme-danger: #dc3545;
  --toast-theme-warning: rgb(243, 115, 30);
  --toast-theme-info: #0dcaf0;
  --toast-theme-light: #f8f9fa;
  --toast-theme-dark: #212529
}

.toast-container {
  position: fixed;
  z-index: 10000;
  top: 15px;
  right: 50%;
  width: var(--toast-width)
}

.toast {
  font-size: .875rem;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .05);
  border-radius: var(--toast-border-radius);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  position: relative;
  overflow: hidden;
  transition: .3s opacity
}

.toast_default {
  color: #212529;
  background-color: var(--toast-theme-default)
}

.toast_primary {
  color: #fff;
  background-color: var(--toast-theme-primary)
}

.toast_secondary {
  color: #fff;
  background-color: var(--toast-theme-secondary)
}

.toast_success {
  color: #fff;
  background-color: var(--toast-theme-success)
}

.toast_danger {
  color: #fff;
  background-color: var(--toast-theme-danger)
}

.toast_warning {
  color: #212529;
  background-color: var(--toast-theme-warning)
}

.toast_info {
  color: #212529;
  background-color: var(--toast-theme-info)
}

.toast_light {
  color: #212529;
  background-color: var(--toast-theme-light)
}

.toast_dark {
  color: #fff;
  background-color: var(--toast-theme-dark)
}

.toast_danger .toast__close,
.toast_dark .toast__close,
.toast_primary .toast__close,
.toast_secondary .toast__close,
.toast_success .toast__close {
  filter: invert(1)
}

.toast:not(:last-child) {
  margin-bottom: .75rem
}

.toast:not(.toast_show) {
  display: none
}

.toast_showing {
  opacity: 0
}

.toast__header {
  position: relative;
  padding: .5rem 2.25rem .5rem 1rem;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.toast__close {
  content: "";
  position: absolute;
  top: .75rem;
  right: .75rem;
  width: .875em;
  height: .875em;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/.875em auto no-repeat;
  border: 0;
  opacity: .5;
  cursor: pointer;
  transition: opacity .1s ease-in-out
}

.toast__close:hover {
  opacity: 1
}

.toast__body {
  padding: 1rem
}

.toast_message .toast__body {
  padding-right: 2.25rem
}